*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.top{
    width: 100%;
    height: 1.278rem;
    background-color: #002DFF;
}
.contentBg{
    width: 25.6026rem;
    min-height: calc(100vh - 1.278em);
    margin: 0 auto;
    background: url("../images/bg.png") no-repeat;
    background-size: 100% 100%;
}
.inside{
    width: 90%;
    margin: 0 auto;
}
.subject{
    font-size: 0.3834rem;
    color: #FD5800;
    padding:1rem 0;
    font-weight: bold;
    padding-left: 1.278rem;
}
.centerMusic{
    width: 6rem;
    margin: 0.2rem auto;
    position: relative;
    padding-top: 0.3rem;
}
.picturesBg{
    width: 8.7969rem;
    height: 5.0055rem;
    background: url("../images/border.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.musicBg{
    width: 2.556rem;
    height: 2.556rem;
    background-color:rgba(0, 0, 0, 0.48);
    border-radius: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.playBtn{
    width: 1.0224rem;
    height: 1.0224rem;
    position: absolute;
    bottom: -0.4rem;
    left: 3.8rem;
    background: url("../images/play.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.playBtnIng{
    position: absolute;
    bottom: -0.4rem;
    left: 3.8rem;
    width: 1.0224rem;
    height: 1.0224rem;
    background: url("../images/playing.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.musicBg img{
    width: 38%;
    height: 46%;
}
.butterfly{
    width: 6.4rem;
    height: 2rem;
    background: url(../images/top.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 1.2rem;
    bottom: 3.8rem;
}
.clickBtnFont{
    font-size: 0.426rem;
    position: absolute;
    top: -0.15rem;
    left: 3.1rem;
    color: #fff;
    display: none;
}
.functionField{
   display: flex;
}
#content{
    display: flex;
    align-items: center;
    justify-content: center;
}
#content img{
    width: 70%;
    height: 3.4rem;
    border-radius: 6px;
}
#content .video{
    width: 66%;
}
.list-unstyled,.collection,.sheet{
    width: 50%;
    list-style: none;
    padding-left: 3rem;
}
.question_info{
    display: flex;
    align-items: center;
    width: 13.3977rem;
    height:1.2rem;
    background-color: #FED690;
    border-radius: 0.5325rem;
    font-size: 0.3834rem;
    margin: 0.3195rem 0;
    padding-left: 0.426rem;
    color: #FFFFFF;
    cursor: pointer;
}
.btnItem{
    display: inline-block;
    width: 0.8733rem;
    height: 0.8733rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/options.png") no-repeat;
    background-size: 100% 100%;
}
.contentItem{
    padding-left: 0.1917rem;
}
.btnArr{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.selectColor{
    color: #FCFF92;
}
.btn{
    width: 2.982rem;
    height: 1.2354rem;
    color: #FCFF92;
    outline: none;
    cursor: pointer;
    margin: 0 0.4rem;
    background: url("../images/btn.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 1rem;
    border: none;
}
.btn-success{
    background-color: #FBD431;
}
.btn-info{
    background-color: #85C608;
}
.operations{
    display: flex;
}
#unHeart,#heart{
    height: 1.1715rem;
    font-size: 0.2rem;
    display: flex;
    align-items: center;
}
.collIconA{
    display:inline-block;
    width: 1.1715rem;
    height: 1.1715rem;
    background: url("../images/love1.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 10;
}
.collIconN{
    display:inline-block;
    width: 1.1715rem;
    height: 1.1715rem;
    background: url("../images/love.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 10;
}
.collection{
    position: relative;
}
.collenBorder{
    display:inline-block;
    width: 3.5784rem;
    height: 1.0224rem;
    background: url("../images/collection.png") no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    font-size: 0.2rem;
    position: absolute;
    left: 3.5rem;
    top: 0.1rem;
}
.collenBorder1{
    display:inline-block;
    width: 3.5784rem;
    height: 1.0224rem;
    background: url("../images/collection.png") no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    font-size: 0.2rem;
    position: absolute;
    left:0.5rem;
    top: 0.1rem;
    font-size: 0.2rem;
    color: #FFFFFF;
}
.sheetCon{
    display: flex;
    position: relative;
}
.sheetIcon{
    width: 1.1715rem;
    height:1.1715rem;
    background: url("../images/answer1.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 10;
}
.sheetIconNo{
    width: 1.1715rem;
    height:1.1715rem;
    background: url("../images/answer.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 10;
}
.sheetLists{
    width: 9rem;
    min-height: 2.4rem;
    background: url("../images/sheet.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}
.sheetUl{
    display: flex;
    flex-wrap: wrap;
    padding: 0.4rem;
}
.sheetUl li{
    font-size: 0.2rem;
    width: 0.8733rem;
    height: 0.8733rem;
    text-align: center;
    background: url("../images/options.png") no-repeat;
    background-size: 100% 100%;
    color: #FFFCA4;
    margin: 0.1rem 0.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
